#main-wrapper{
   display: flex;
   height: calc(100% - 40px);
   background-color: #1E1E1E;
}
.preview{
   background-color: #333333;
   color:#fff;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #525252;
}